

.modal{ 
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  bottom: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.modal-overlay{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
  position: fixed;
}

.modal-content{
  background-color: #323232;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  max-height: 172px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: calc(100% - 45px);
  animation: moveInBottom 0.25s ease 0s;
  padding: 24px 0;
}

.modal-content-container{
  padding: 0 16px;
}

.modal-icon{
  width: 20px;
  height: 20px;
}

.modal-text-description{
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
  display: block;
}

.modal-button-close {
  background: transparent;
}

.modal-button-login{
  background-color: #0079FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  margin-top: 24px;
}

.modal-content-wrapper{
  display: flex;
  justify-content: space-between;
}

.modal button {
  outline: none;
  border: none;
}

@keyframes moveInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
